<?xml version="1.0"?>
<!--
/**
 * Yireo TaxRatesManager2 for Magento 2
 *
 * @package     Yireo_TaxRatesManager 2
 * @author      Yireo (https://www.yireo.com/)
 * @copyright   Copyright 2018 Yireo (https://www.yireo.com/)
 * @license     Open Source License (OSL v3)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Yireo_TaxRatesManager2" setup_version="1.0.1">
        <sequence>
            <module name="Magento_Email"/>
            <module name="Magento_Tax"/>
            <module name="Magento_Backend"/>
            <module name="Magento_Store"/>
        </sequence>
    </module>
</config>
